.card-member{
  padding: 20px;
  background: #545454;
  border-radius: 10px;
  margin: 0!important;
  height: 100%;
  cursor: pointer;

  h2{
    font-size: 1rem;
    font-weight: normal;
  }
}